<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Graphische Datenverarbeitung - 2D - Checkerboard</title>
    <link rel="stylesheet" href="index.css" />
    <script type="module" src="/src/02/setup-checkerboard.ts"></script>
    <link rel="icon" type="image/png" href="ai-logo.png" />
  </head>

  <body>
    <%- include("components/header", { title: "Checkerboard" }) %>
    <%- include("components/main", {
      reference: "checkerboard-finished.png",
      description: "Determine for each pixel if it is black or white to create a checkerboard pattern"
    }) %>
  </body>
</html>
