<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Graphische Datenverarbeitung - 2D - Fillscreen</title>
    <link rel="stylesheet" href="index.css" />
    <script type="module" src="/src/01/setup-fillscreen.ts"></script>
    <link rel="icon" type="image/png" href="ai-logo.png" />
  </head>

  <body>
    <%- include("components/header", { title: "Fillscreen" }) %>
    <%- include("components/main", {
      reference: "fillscreen-finished.png",
      description: "Fill the screen with a single RGBA color #FF0000FF (red)."
    }) %>
  </body>
</html>
