<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Graphische Datenverarbeitung - 2D - gradient</title>
    <link rel="stylesheet" href="index.css" />
    <script type="module" src="/src/02/setup-gradient.ts"></script>
    <link rel="icon" type="image/png" href="ai-logo.png" />
  </head>

  <body>
    <%- include("components/header", { title: "gradient" }) %>
    <%- include("components/main", {
      reference: "gradient-finished.png",
      description: "Fill the screen with a gradient from #000000FF (black) to #FFFFFFFF (white)."
    }) %>
  </body>
</html>
