<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>GDV Übungen</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/scss/bootstrap.scss" />
    <script type="module" src="/src/index.ts"></script>
    <link rel="icon" type="image/png" href="/ai-logo.png" />
  </head>

  <body>
    <nav class="navbar navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/index.html">
          <img
            src="ai-logo.png"
            width="30"
            height="30"
            class="d-inline-block align-top"
            alt=""
          />
          Graphische Datenverarbeitung
        </a>
      </div>
    </nav>
    <br />

    <div class="list-group list-group-flush">
      <% exercises.forEach((exercise) => { %>
      <div class="list-group-item flex-column align-items-start">
        <br />
        <div class="d-flex w-100 justify-content-between">
          <% if (exercise.exists) { %>
          <h5 class="mb-2"><%= exercise.title %></h5>
          <% } else { %>
          <h5 class="mb-2" style="color: #c0c0c0"><%= exercise.title %></h5>
          <% } %>
        </div>
        <% Object.entries(exercise.entries).forEach(([file, entry]) => { %>
        <% if (entry.exists) { %>
        <a href=<%= `/${file}.html` %>
        <% } else { %>
        <a style="color: #c0c0c0" <% } %>
          class="list-group-item list-group-item-action flex-column
          align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h6 class="mb-0"><%= entry.title %></h6>
          </div>
          <p class="mb-0"><%= entry.description %></p>
        </a>
        <% }); %>
      </div>
      <% }); %>
    </div>
  </body>
</html>
