<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>GDV Übungen</title>
    <link rel="stylesheet" href="index.css">
    <link rel="icon" type="image/png" href="/ai-logo.png" />
  </head>

  <body>
    <%- include("components/header", {title: ""}) %>

    <div class="max-w-3xl m-auto mt-4">
      <% exercises.forEach((exercise) => { %>
      <section class="px-4 py-8 border-b last:border-none">
        <div class="flex justify-between px-4 text-xl font-bold mb-4">
          <% if (exercise.exists) { %>
          <h5><%= exercise.title %></h5>
          <% } else { %>
          <h5 class="text-gray-400"><%= exercise.title %></h5>
          <% } %>
        </div>
        <% Object.entries(exercise.entries).forEach(([file, entry]) => { %>
        <a <%- entry.exists ? `href="/${file}.html"` : "" %>
          class="block border border-b-0 first-of-type:rounded-t-xl last-of-type:rounded-b-xl last-of-type:border-b
            <%= entry.exists ? "hover:bg-gray-50 hover:text-blue-700 focus:text-blue-700" : "text-gray-400" %>">
          <div class="p-4">
            <div class="flex justify-between">
              <h6 class="font-medium"><%= entry.title %></h6>
            </div>
            <p class="mt-2 text-sm text-gray-400"><%= entry.description %></p>
          </div>
        </a>
        <% }); %>
      </section>
      <% }); %>
    </div>
  </body>
</html>
