<nav class="bg-gray-100 text-xl mb-8">
    <div class="max-w-4xl mx-auto p-4 px-8 flex items-center justify-between">
      <a class="flex items-center gap-2" href="/index.html">
        <img
          src="ai-logo.png"
          width="30"
          height="30"
          class="inline-block align-top"
          alt=""
        />
        Graphische Datenverarbeitung
      </a>
      <div><%- title %></div>
    </div>
  </nav>