<main
  class="max-w-4xl mx-auto px-4 grid grid-cols-[repeat(auto-fit,minmax(16rem,1fr))] gap-4 justify-center"
>
  <figure>
    <canvas
      class="max-w-full mx-auto"
      id="result"
      width="300"
      height="300"
    ></canvas>
    <figcaption class="text-center my-2 text-gray-500">
      <%= description %>
    </figcaption>
  </figure>
  <figure>
    <img
      class="max-w-full mx-auto"
      src=<%- reference %>
      width="300"
      height="300"
    />
    <figcaption class="text-center my-2 text-gray-500">
      Reference image
    </figcaption>
  </figure>
</main>
